:root {
    --grey-primary: #ADADAD;
    --grey-secondary: #DDDDDD;
    --orange-primary: #ED6B2B;
    --orange-secondary: #FFA87E;
    --green-primary: #86926F;
    --green-secondary: #A9B78E;
    --gold-primary: #E5B852;
    --gold-secondary: #ECCD86;
    --gold-tertiary: #FDF6E3;
    --purple-primary: #CD95EB;
    --purple-secondary: #DBBDEB;
    --aqua-primary: #6CE4CF;
    --aqua-secondary: #B6FFF2;

}