#shop-notice {
    display: flex;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}


#product-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    max-width: 960px;
    width: 100%; /* Ensure it uses the full width up to its max-width */
    margin: 0 auto;              /* Centers the container in the parent */
}
  
.product {
    width: 200px;  /* Fixed width for each product card */
    margin: 10px;  /* Adjust margin as needed */
    box-sizing: border-box;
    float: left;   /* Optional: Helps keep alignment consistent */
    outline: 1px dotted black;
    border-radius: var(--boarder-radius);
}
  
.image img {
    width: 100%;
    display: block;
}

.title, .price {
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
}

.price {
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .product {
        width: calc(40% - 20px); /* Adjusts for two products per row, accounting for margins */
        max-width: 200px;
    }
}

@media (max-width: 500px) {
    .product {
        width: calc(40% - 20px); /* Continues to ensure spacing between two products */
        max-width: 200px;
    }
}
