@import './colours.css';
@import './constants.css';

html, body {
    height: 100%; /* Ensures the full height of the viewport is used */
    margin: 0;    /* Remove default margin */
    padding: 0;   /* Remove default padding */
    font-family: Arial, sans-serif; /* Sets the default font for the whole page */
    display: flex; /* Enables flexbox to contain all children */
    flex-direction: column; /* Stacks children vertically */
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center; 
    background-color: var(--green-secondary);
    border-radius: var(--boarder-radius);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

}

.logo {
    margin-right: 20px; 
}

.logo img {
    width: 100px; 
    height: auto; 
}


nav {
    display: flex;
    height: 60px;
    background-color: var(--gold-primary);
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border-radius: var(--boarder-radius);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

nav button {
    font-size: 14px;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: calc(100% - 200px);
    outline: 1px dotted black;
    border-radius: var(--boarder-radius);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

footer {
    height: 50px; 
    background-color: #ffffff; 
    border-top: 2px solid #ccc; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.section-title {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 10px;
}